/*html, body{
    margin:0;
    padding: 0;
    height:100%;
}*/

@font-face {
    font-family: 'Jujutsu Kaisen';
    src: url('./jujutsu-kaisen/Jujutsu\ Kaisen.ttf');
    font-weight:500;
    font-style:normal;
}

body {
    font-family: 'Jujutsu Kaisen', sans-serif;
    color: antiquewhite;
    background-color:#13183E ;
    overflow:hidden;
    margin:0;
    
}
    

#pointer {
    cursor: url("head.png"), auto;
    width: 100px;
    height: 100px;
}

.container{
    display: flex;
    height:100vh;

}
.bkg {
    background-image: url(gojo.jpg);
    background-size: cover;
    background-position:center;
    margin-left: 0px;
    width: 30%;
}
.hero-border{
    background-image: url("./dark_fantasy3.png");
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    z-index: -1;
    opacity: 0.6;
    background-position:left;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 400px;

}
.text{
    flex:1;
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    width: 100%;
    background-size: cover;



}

.text h1{
    font-size:60px;
    color:black;
    margin-top:0px;
   margin-left: 150px;
   width: 85%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.text h2{
    margin-top:20px;
    margin-bottom: 0px;
}

.text p{
    font-size: 25px;
    display: inline;


}
.link a{
    text-decoration: none;
    color: yellow;
    font-size: large;
}

p{
    margin-bottom: 20px;
}

/*.gif{
    width: 100%;
    height:15%;
    display: flex;
    flex:1;
}*/

.gip{
    background-image: url("gip.gif");
    width:70px;
    height: 100%;
    background-repeat: no-repeat;
    margin-top: 1px;

}

#num_count::after {
    font-size: 40px;
    animation: counter 2s ease 1 forwards;
    content: counter(count) "th";
    counter-reset: count 5;
}

@keyframes counter {
    0%, 14% {
        counter-increment: count 1;
    }
    15%, 29% {
        counter-increment: count 2;
    }
    30%, 44% {
        counter-increment: count 3;
    }
    45%, 59% {
        counter-increment: count 4;
    }
    60%, 74% {
        counter-increment: count 5;
    }
    75%, 89% {
        counter-increment: count 6;
    }
    90%, 100% {
        counter-increment: count 7;
    }
}